@tailwind base;
@tailwind components;
@tailwind utilities;
.spinnable-picker {
  width: 130px;
  height: 200px;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  position: relative;
}

.picker-option {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  /* background-color: #f0f0f0; */
  font-weight: bold;
}
